/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /* background: #edf2f7; */
  /* font-family: Rubik, sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-family: Helvetica Neue, helvetica, arial, sans-serif;
}

#home aside {
  margin-left: -3px;
}

.ed-brand {
  /* font-family: 'Grechen Fuemen', cursive; */
  /* font-family: 'Yatra One', cursive; */
  font-family: 'Gluten', cursive;
}

.ed-catchphrase {
  font-family: 'Indie Flower', cursive;
}

.ed-shadow {
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.ed-cover {
  background-image: url('/src/assets/background.gif');
  /* background-image: url('https://media.vanityfair.fr/photos/615e9ed78a8896f5da00b706/16:9/w_2560%2Cc_limit/HO%2520YEON%2520JUNGLOUIS%2520VUITTON%2520MAISON%2520AMBASSADOR.jpg'); */
}
